@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sansita:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #ecf3fb;
}

#logo {
    float: left;
    font-family: Sansita, sans-serif;
    font-size: 280%;
    margin-left: 30px;
    color: #57A5B8;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu li {
    float: right;
    font-family: 'Open Sans', sans-serif;
    color: #57A5B8;
    list-style-type: none;
    margin: 25px 30px 25px;
    text-decoration: none;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
    color: #3B707D; 
}

a:hover {
    text-decoration: underline;
}

#menu .active {
    text-decoration: underline;
}

/* Hero image */

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;
}

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Hero image animation */

.animated-word {
    position: absolute;
    top: 25%;
    left: 50%;
    font-family: Sansita, sans-serif;
    font-size: 1700%;
    transform: translateX(-50%);
    color: #ECF3FB;
    opacity: 0;
    text-shadow: 2px 2px #23424A50;
    white-space: nowrap;
  }

.animated-word[data-word="Surf"] {
    animation: fadeInOut 4s linear;
}

.animated-word[data-word="Explore"] {
    animation: fadeInOut 4s linear 4s;
}

.animated-word[data-word="Breathe"] {
    animation: fadeInOut 4s linear 8s;
}

.animated-word[data-word="Flow"] {
    animation: fadeInFlow 4s linear 10s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOut {
    0%, 80%, 100% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

@keyframes fadeInFlow {
    0%, 60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .animated-word {
      font-size: 1300%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .animated-word {
      font-size: 1000%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .animated-word {
      font-size: 700%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .animated-word {
      font-size: 500%;
    }
  }